/* For body elements */
body {
    background-color: lightgoldenrodyellow;
}

/* For heading elements */
h1 {
    color: #666666;
    line-height: 1em; 
    margin-left: 20px; 
    font-weight: bold;
}

h2 {
    color: rgba(52, 50, 61, 0.753);
    line-height: 1ex;
    margin-left: 5mm;
}

h3 {
    line-height: 2vw;
    margin-left: 0.5cm;
}

form {
    color: rgba(28, 160, 236, 0.9);
    text-decoration: underline;
}

* {
    font-weight: normal;
}

button:hover {
    color: blue;
}