/* For body elements */
body {
    background-color: blue;
}

/* For heading elements h1, h2 */
h1 {
    color: black;
    line-height: 1em; 
    margin-left: 20px; 
    font-weight: bold;
}

h2 {
    color: rgb(200, 200, 200);
    line-height: 0.8em;
    margin-left: 20px;
}